/* General CSS */
body {
    background-image: url("../imgs/fondo.jpg");
    background-position: left top;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}

/* Main CSS */

div.main {
    width: fit-content;
    padding: 50px;
    margin: auto;
    text-align: center;
    background-color: rgba(245, 127, 245, 0.8);
    border-radius: 25px;
    vertical-align: top;
}

div.main .logo {
    height: 100px;
}

div.main .calamity {
    margin-bottom: 50px;
    margin-top: -40px;
    height: 80px;
}

/* nav css */
#nav {
    background-color: rgba(245, 127, 245, 0.8);
    text-align: end;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

#nav h1 {
  margin-top: -10px;
  float: left;
  color: black;
}

/* Select and Button css */

#btnGuess {
    height: 56px;
    width: 75px;
    vertical-align: top;
    background-color: burlywood;
    border-radius: 25px;
}

#bossGuess {
    background-color: burlywood;
    height: 56px;
    font-size: 25px;
}

/* Bosses table css */
table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    padding: 5px;
}

tr td {
    width: 126px;
}

/* efecto de la tabla */
tr:not(#bossProperties) td {
    animation: altura 0.2s linear;
}

@keyframes altura {
    0% {
        font-size: 0px;
    }
}
